.faq {
    
    padding: 50px 0;
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;

    .tutorialvideo {
        display: block;
        max-width:720px
    }
    .tutorialvideo [poster] {
        object-fit: cover;
    }
    .tutorialvideo video {
        max-width: 100%;
    }

}