
.footer {

    height: 250px;
    background: var(--bgcolor-primary);

    .container {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .infobox {
        min-width: 190px;
        &.big{
            flex: 1;
        }

        height: auto;

        .title {
            font-weight: bold;
            font-size: 18px;
        }

        select {
            word-wrap: normal;
            border: 1px solid var(--color-text);
            background: transparent;
            color: var(--color-text);
            padding: 2px 8px 2px 7px;
            -moz-appearance: none;
        }


        ul {
            list-style: none;
            padding: 0;
            font-size: 16px;

            &.line {
                margin-top: 15px;
            }
            &.line li {
                display: inline;
                padding-right: 30px;
            }
        }
    }

}

@media only screen and (max-width: 920px) {

    .footer {
        height: auto;
        padding: 40px 0;
        text-align: center;

        .linebreaks {
            white-space: unset;
        }


        .container {
            display: block;
        }

        .infobox ul {
            &.line li {
                display: block;
                padding-right: 0px;
            }
        }
    }
}