.generator {
    
    display: flex;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    
    & > div {
        flex: 1;
        padding: 50px;
    }
    
    .emailText {

        font-family: 'Courier New', Courier, monospace;
        max-height: 60vh;
        overflow: auto;
        padding: 10px 10px 10px 0;

    }

    .actions {
        padding: 0;
        list-style: none;
        li {
            color: var(--color-primary);
            cursor: pointer;
            transition: 100ms ease;
            &:hover {
                font-weight: bold;
            }
        }
    }

    .checkboxes {

        .options {
            max-height: 350px;
            overflow: auto;
            padding-right: 5px;

            .info input {
                display: block;
                width: 80%;
                max-width: 380px;
            }
        }

        .info {
            color: #a6a6a6;
            font-size: 14px;
            margin-left: 7px;
            b {
                color: #000;
            }
        }
        .copy-icon {
            display: inline;
            margin: 0 0 0 5px;
            cursor: pointer;
            svg {
                width: 13px;
            }

            svg.check {
                display: none;
            }

            &.copied {
                svg.copy {
                    display: none;
                }
                svg.check {
                    display: inline;
                    fill: green;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .generator {
        & > div {
            flex: 1;
            padding: 20px;
        }
    }
}


@media only screen and (max-width: 920px) {
    .generator {
        display: block;
        width: 95%;
        & > div {
            width: 100%;
        }
    }
}

.generator h5 {
    border-top: 1px solid var(--color-dash);
    padding-top: 10px;
    &::before {
        content: " ";
        margin-right: -11px;
    }
}
