
@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    src: local("Bitter-Regular"), url("https://rufposten.de/daten/fonts/bitter_regular.woff2") format("woff2");
}

:root {
    
    --color-primary: #1564bf;
    --bgcolor-primary: #f7fafc;
    --color-text: #000;

    --color-red: red;

    --color-dash: #eee;
    
    --bgcolor-body: #fff;


    @media (prefers-color-scheme: dark) {

    }

}

body {

    font-family: "Bitter";
    background: var(--bgcolor-body);

    .content {
        padding-top: 50px;

        h3.slogan {
            line-height: 50px;
            margin: 10px 0 50px;
            text-align: center;
        }
    }

}

.linebreaks {
    white-space: pre-line;
}

.red {
    color: var(--color-red)
}

.subtitle {
    font-weight: bold;
}

body .modal {
    transform: translateX(-50%);
    left: 50%;
    height: auto;
    width: 93%;
    max-width: 1200px;

    .modal-body {
        max-height: 90vh;
        overflow: auto;
    }

}

body {

    .form-check {
        padding: 2px 0 2px 1.25rem;
        .form-check-label {
            margin-bottom: 0;
            margin-left: 5px;
        }
    }
    
}