.navbar {

    height: 100px;
    background: var(--bgcolor-primary);

    a {
        color: var(--color-text);
        &:hover {
            color: var(--color-primary);
        }
    }

    .navbar-brand {

        display: flex;
        align-items: center;
        font-size: 26px;
        
        img {
            vertical-align: text-bottom;
            height: 44px;
            margin-right: 20px;
        }

    }

    .navbar-toggler {
        height: 54px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    

    .nav-item {
        display: flex;
        align-items: center;
    }

    .locale-switcher {
        select {
            word-wrap: normal;
            border: 1px solid var(--color-text);
            background: transparent;
            color: var(--color-text);
            padding: 2px 7px;
            -moz-appearance: none;
        }
    }

}
@media only screen and (max-width: 976px) {

    .navbar-collapse {
        position: absolute;
        top: 100px;
        width: 100%;
        background: var(--bgcolor-primary);
        left: 0;
        text-align: center;
        padding: 37px 0 50px;
        border-top: 1px solid #E4E4E4;
    }

    .navbar-nav .nav-link {
        text-align: center;
        width: 100%;
        font-size: 22px;
    }

    .locale-switcher {
        margin: 20px auto 0;
    }


}