
.tracker-list {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    header {
        .info {
            display: flex;
            width: 100%;
        }
        input {
            width: 100%;
            padding: 11px 14px;
        }
        p {
            width: 100%;
        }
        .button {
            width: 100%;
            text-align: right;
        }
    }


    ul {
        margin-top: 50px;
        list-style: none;
        padding: 0;

        li {
            border: 1px solid #eee;
            margin: 10px 0;

            svg {
                float: right;
            }
            
            .title {
                cursor: pointer;
                padding: 8px 15px;
                span {
                    color: #a6a6a6;
                    font-size: 13px;
                }
            }
            .more {
                padding: 8px 15px;
                border-top: 1px solid #eee;
            }

            &:hover {
                border-color: rgb(207, 207, 207);
            }

            .more {
                display: none;
                
            }
            &.show {
                box-shadow: 0 0 6px 0px #E1E1E1;
                border-color: rgb(207, 207, 207);
                .title {
                    font-weight: bold;
                }
            }
            &.show .more{
                display: block;
            }
        }

    }

}

@media only screen and (max-width: 900px) { 

    .tracker-list  header {
        .info {
            display: block;
            padding: 0 0 35px;
        }
        .button {
            text-align: center;
        }
    }

}
